@page "/Clone"

<NavMenuPage />
<div class="rs-features bg1 pt-126 md-pt-71 md-pb-75">
    <div class="container relative">
        <div class="container d-flex flex-column vh-100">

            @if (Messages.Count == 0)
            {
                <div class="text-center">
                    <h3>Welcome to PersonaClone - Your Virtual Self Companion</h3>
                    <p>I am PersonaClone, an AI-powered virtual personality companion powered by Cyberbian. My purpose is to analyze and understand your digital footprint, creating a virtual version of your personality. I can engage in lifelike conversations, provide emotional support, and adapt to your preferences over time. I'd be happy to answer any questions or simply start by choosing an option below.</p>
                </div>
            }


            <div class="flex-grow-1">
                @foreach (var message in Messages)
                {
                    <div class="row p-2">
                        <div class="col-1 rounded-circle bg-dark-subtle text-center m-2 p-0"
                             style="width:50px;height:50px;">
                            <span class="bi fs-2 @(message.IsUser ? "bi-person-fill" : "bi-robot")"></span>
                        </div>
                        <div class="col-11 rounded p-3 shadow-sm @(message.IsUser ? "text-bg-primary" : "text-bg-light")">
                            @if (message.IsUser)
                            {
                                @message.content
                            }
                            else
                            {
                                @((MarkupString)message.content)
                            }
                        </div>
                    </div>
                }
            </div>

            <div class="sticky-bottom w-75 p-3 rounded mx-auto">
                @if (_isSendingMessage)
                {
                    <div class="text-center">
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                <div class="input-group">
                    <button class="btn btn-primary" @onclick="ClearConversation">
                        <span class="bi bi-eraser">clear</span>
                    </button>
                    <textarea rows="2" class="form-control" placeholder="Ask...hit return key"
                    @bind-value="_userQuestion" @bind-value:event="oninput" @onkeypress="HandleKeyPress"
                              disabled="@_isSendingMessage">
        </textarea>

                </div>
                <div class="text-center">
                    <span>When you are ready to take the journey, click your option below.</span>
                </div>
                <div class="text-center">
                    <button type="submit" @onclick="OnSubmitExistingSummon">Summon My Existing Companion</button>
                    <button type="submit" @onclick="OnSubmitNewSummon">Create New Companion</button>
                </div>
                @if(_isNewBot)
                {
                    <hr />
                    <div class="text-center">
                        <label>Nice, will get started.  Upload a quality photo clearly showing your face as in the photo example below.  The photo will be used to clone your avatar.</label>
                    </div>
                    <div class="text-center">
                        <img src="assets/images/bot/sample-clone-image.png" class="img-rounded" alt="Sample Image" style="width:  100px">
                        <br/>
                        <label>Sample</label>

                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Upload your photo</RadzenText>
                            <InputFile OnChange="LoadImage" Accept="image/*" />

                            <img src="@ImageUri" Style="width: 15rem;" />

                        </RadzenCard>
                    </div>
                    <hr/>
                    @if(ImageUri != null)
                    {
                        <div class="text-left">
                            <label>One last thing, please enter your first name.</label>
                        </div>
                        <div class="mb-3">
                            <label>First Name</label>
                            <InputText @bind-Value="FirstName" onchange="onChangeName" />
                        </div>
                    }

                    @if ((ImageUri != null) && (!string.IsNullOrEmpty(FirstName)))
                    {
                        <hr />
                        <div class="text-center">
                            <button type="submit" @onclick="OnSubmitCreatePersona">Create my companion</button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

                       